body{
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    display: flex;                   /* establish flex container */
    flex-direction: row;             /* default value; can be omitted */
    flex-wrap: nowrap;               /* default value; can be omitted */
    justify-content: center;  /* switched from default (flex-start, see below) */


}
#texty {
    width : 33%;
   /* border: solid red;*/
}
#gamey {
    width : 34%;
    text-align: center;
   /* border: solid blue;*/
}
#emptey{
    width : 33%;
   /* border: solid green;*/
}


table, th, td {
    border-collapse: collapse;
    border: 1px solid #838181;
    text-align: center;
}

td {
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px;
}

td:hover,td.clickable:hover {
    background-color: rgba(131, 129, 129, 0.5);
}


td.yellow {background-color: rgba(255, 246, 4, 0.46)
}
td.pink {background-color: rgba(255, 0, 181, 0.22)
}
td.blue {background-color: rgba(0, 18, 255, 0.24)
}
td.green {background-color: rgba(13, 255, 0, 0.46)
}