body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(127, 255, 212, 0.39);
}
div{
    /*border: solid black;*/
}
#wrapper {
    display: flex;                   /* establish flex container */
    flex-direction: row;             /* default value; can be omitted */
    flex-wrap: nowrap;               /* default value; can be omitted */
    justify-content: space-between;  /* switched from default (flex-start, see below) */
}
#texty {
    height: 100%;
    display: flex;                   /* establish flex container */
    flex-direction: column;
    flex-shrink: 0;
   /* border: solid red;*/
}
#gamey {
    align-self: center;
    text-align: center;
    flex-grow: 1;
}
#emptey{
    flex-shrink: 0;
}
#title{
    text-align: center;
    font-size: 15pt;
    flex-shrink:1;
}
#todo{
    flex-shrink:1;
}
#chooseText{
    text-align: center;
}
img{
    border: 3px solid transparent;
}
img.chosen{
    border: 3px solid red;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #838181;
    text-align: center;
    cellspacing: 5px;
}

td {
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px;
}

td:hover,td.clickable:hover {
    background-color: rgba(131, 129, 129, 0.5);
}


td.yellow {background-color: rgba(255, 246, 4, 0.46)
}
td.pink {background-color: rgba(255, 0, 181, 0.22)
}
td.blue {background-color: rgba(0, 18, 255, 0.24)
}
td.green {background-color: rgba(13, 255, 0, 0.46)
}
td.red {background-color: rgba(255, 2, 2, 0.67)
}

@keyframes mymove {

    50% {background-color: blue;}
}