body{
    font-family: 'Montserrat', sans-serif;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #838181;
    text-align: center;
}

td {
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px;
}

td.black:hover,td:hover {
    background-color: #838181;

}

td.black {background-color: #0f0f0f
}

td.yellow {background-color: rgba(255, 246, 4, 0.46)
}
td.pink {background-color: rgba(255, 0, 181, 0.22)
}
td.blue {background-color: rgba(0, 18, 255, 0.24)
}
td.green {background-color: rgba(13, 255, 0, 0.46)
}