.matchDetailsPanels,
.scorePanel {
    display: flex;
    width: 100%;
}

.matchDetailsPanels>div,
.scorePanel>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scoreData>.scores {
    font-size: 2em;
}

.scoreData>.arrow {
    font-size: 0.9em;
}

.redScore {
    color: red
}

.blueScore {
    color: blue
}

.goalsChart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.goal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.goalsChartTitle {
    font-weight: 900;
    padding-top: 20px;
}

.goal>.redTeam,
.goal>.blueTeam {
    width: 100%;
}

.goal>.blueTeam {
    text-align: left;
    color: lightblue
}

.goal>.redTeam {
    text-align: right;
    color: lightcoral
}

.goal>.chart {
    width: 20%;
}

.goalElement {
    font-size: 2em;
}

.goalElement.red {
    padding-right: 5px
}

.goalElement.blue {
    padding-left: 2px
}

.chart {
    margin: -9px 0;
}

.matchStartTime,
.matchEndTime {
    padding: 10px
}

.matchOutcome {
    background-color: mediumblue;
    border-radius: 20px;
}

.redLight>td,
.avgRedRating,
.lightRedColor {
    color: lightcoral;
}

.blueLight>td,
.avgBlueRating,
.lightBlueColor {
    color: lightblue;
}

.avgRating {
    font-size: x-large;
}

.scoreSimulationTable {
    display: flex;
    justify-content: center;
}

.simulationTable {
    table-layout: fixed;
}

.simulationTable>tbody>tr>td {
    width: 50%;
}

.replayButton>a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(#8da86b, #658d59);
    border-radius: 200px;
    padding: 15px;
    font-size: 23px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 237px;
    border: 3px solid rgba(247, 255, 235, 0.7);
    transition: 0.1s linear all;
    background-image: linear-gradient(rgb(104, 121, 71), rgb(81, 113, 71));
    background-color: initial;
    color: rgb(232, 230, 227);
    border-color: rgba(65, 108, 0, 0.7);
    box-shadow: rgb(104, 121, 71) 0px 0px 0px 3px, rgba(0, 0, 0, 0.33) 0px 0px 6px 6px;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
}

.replayButton>a:hover {
    color: green;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .matchDetailsPanels {
        flex-direction: column;
        font-size: smaller;
    }
    .data>div {
        width: 100%;
        padding: 0;
    }
    .table td,
    .table th {
        padding: 5px !important;
    }
    .avgRating,
    .goalSpeed {
        display: none !important;
    }
}

.matchLengthMultiplier {
    font-size: x-small;
}

.matchLengthMultiplier.red {
    color: lightcoral;
}

.matchLengthMultiplier.green {
    color: #3fca3f;
}
.matchLengthMultiplier.green::before {
    content: "+";
}

