.matchDetailsPanels,
.scorePanel {
    display: flex;
    width: 100%;
}

.matchDetailsPanels>div,
.scorePanel>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scoreData>.scores {
    font-size: 2em;
}

.scoreData>.arrow {
    font-size: 0.9em;
}

.scoreData>.scores>.redScore {
    color: red
}

.scoreData>.scores>.blueScore {
    color: blue
}

.goalsChart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.goal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.goalsChartTitle {
    font-weight: 900;
    padding-top: 20px;
}

.goal>.redTeam,
.goal>.blueTeam {
    width: 100%;
}

.goal>.blueTeam {
    text-align: left;
    color: lightblue
}

.goal>.redTeam {
    text-align: right;
    color: lightcoral
}

.goal>.chart {
    width: 20%;
}

.goalElement {
    font-size: 2em;
}

.goalElement.red {
    padding-right: 5px
}

.goalElement.blue {
    padding-left: 2px
}

.chart {
    margin: -9px 0;
}

.matchStartTime,
.matchEndTime {
    padding: 10px
}