.dataRow {
    display: flex;
    flex-flow: wrap;
}

.dataRow>div {
    padding: 20px;
}

.data {
    display: flex;
}

.data>div {
    width: 50%;
}

.enemiesBalance {
    text-align: center;
    display: flex;
    flex-direction: column;
}