@font-face {
    font-family: Graviola;
    src: url(Graviola-Regular.otf);
}

body {
    font-family: 'Graviola', sans-serif;
}

#pokeData{
    border: solid black 1px;
}
#return{
    display:none;
}
#go{
    width: 100px;
    height: 50px;
    font-size: x-large;
}
table{
    margin: auto;
    text-align: center;

}

td{

}

#header{
    text-align: center;
}

#divsReturn{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.singlePoke{
    text-align: center;
    padding: 2px;
}

.evolvable
{
    background-color: #cdff9e;
}