@font-face {
    font-family: Graviola;
    src: url(Graviola-Regular.otf);
}

body {
    font-family: 'Graviola', sans-serif;
}
div{
    //border: solid black 1px;
    width: 100%;
}

#data{
    display:flex;
    justify-content: space-between;
}
#pokeData{
    border: solid black 1px;
}
#return{
    display:none;
}
#go{
    width: 100px;
    height: 50px;
    font-size: x-large;
}
table{
    margin: auto;
    text-align: center;

}

td{

}
#header{
    text-align: center;
    width: 100%;
}

#divsReturn{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

div.singlePoke{
    text-align: center;
    padding: 2px;
}

.evolvable
{
    background-color: LightGreen;
}

span.bold{
    font-size: x-large;
    font-weight: 900;
}


@-webkit-keyframes flashy {
    0% {
        background-color: LightGreen;
    }
    50% {
        background-color: #00ff00;
    }
    100% {
        background-color: LightGreen;
    }
}

.flashy {
    -webkit-animation-name: flashy;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}